{% extends 'base.html.twig' %}
{% block content %}
    <form method="post" class="form-horizontal">
        <h2>Room: </h2>
        {% if message is empty %}
        {% else %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endif %}
        <div class="form-group">
            <label for="name" class="control-label col-sm-2">name: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="name" name="name" id="name">
            </div>
        </div>

        <div class="form-group">
            <label for="number" class="control-label col-sm-2">room number:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="number" name="number" id="number">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn  btn-primary" type="submit" name="addInstructor">add </button>
            </div>
        </div>
    </form>
{% endblock %}