{% extends 'base.html.twig' %}
{% block content %}
    <form method="post" class="form-horizontal">
        <h2>Lecture:</h2>
        {% if message is empty %}
        {% else %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endif %}
        <div class="form-group">
            <label for="name" class="control-label col-sm-2">Name: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Name" name="name" id="name">
            </div>
        </div>

        <div class="form-group">
            <label for="instructor" class="control-label col-sm-2"></label>
            <div class="col-sm-10">
                <label> Instructor
                    <select name="instructors">
                        {% for instructor in instructors %}
                            <option value="{{ instructor.id }}"> {{ instructor.firstname }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="room" class="control-label col-sm-2"></label>
            <div class="col-sm-10">
                <label> Rooms
                    <select name="rooms">
                        {% for room in rooms %}
                            <option value="{{ room.id }}"> {{ room.number }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn  btn-primary" type="submit" name="addLecture">add</button>
            </div>
        </div>
    </form>
{% endblock %}