{% extends 'base.html.twig' %}
{% block content %}
    <table class="shadow-md bg-white">
        <tr>
            <th class="bg-blue-100 border text-left px-8 py-4">Name</th>
            <th class="bg-blue-100 border text-left px-8 py-4">Room number</th>
            <th class="bg-blue-100 border text-left px-8 py-4">Instructor name</th>
        </tr>
        {% for lecture in lectures %}
            <tr>
                <td class="border px-8 py-4">{{ lecture.name }}</td>
                <td class="border px-8 py-4">{{ lecture.room.name }}</td>
                <td class="border px-8 py-4"><a
                            href="/instructor?p={{ lecture.instructor.id }}">{{ lecture.instructor.firstname }} </a>
                </td>
                <td class="border px-8 py-4">
                    <form method="post">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="hidden" name="lecture_id" value="{{ lecture.id }}">
                            <button class="btn  btn-primary" type="submit" name="registerToLecture">register</button>
                        </div>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}