{% extends 'base.html.twig' %}
{% block content %}
    <form method="post" class="form-horizontal">
        <h1>Login: </h1>
        {% if message is empty %}
        {% else %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endif %}
        <div class="form-group">
            <label for="email" class="control-label col-sm-2">Email:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" placeholder="Email" name="email" id="surname">
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="control-label col-sm-2">Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" placeholder="password" name="password" id="password">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn  btn-primary" type="submit" name="login">login</button>
            </div>
        </div>
    </form>
{% endblock %}
