{% extends 'base.html.twig' %}
{% block content %}
    <table class="shadow-md bg-white">
        <tr>
            <th class="bg-blue-100 border text-left px-8 py-4">Firstname</th>
            <th class="bg-blue-100 border text-left px-8 py-4">Surname</th>
            <th class="bg-blue-100 border text-left px-8 py-4">Title</th>
        </tr>
            <tr>
                <td class="border px-8 py-4">{{ instructor.firstname }}</td>
                <td class="border px-8 py-4">{{ instructor.surname }}</td>
                <td class="border px-8 py-4">{% if instructor.isProfessor == 1 %}
                        Professor
                    {% else %}
                        trainee
                    {% endif %}</td>
            </tr>
    </table>
{% endblock %}