{% extends 'base.html.twig' %}
{% block content %}
    <form method="post" class="form-horizontal">
        <h2>Instructor: </h2>
        {% if message is empty %}
        {% else %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endif %}
        <div class="form-group">
            <label for="firstname" class="control-label col-sm-2">Firstname: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Firstname" name="firstname" id="firstname">
            </div>
        </div>

        <div class="form-group">
            <label for="surname" class="control-label col-sm-2">Surname:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Surname" name="surname" id="surname">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-10">
                <label for="title" class="control-label col-sm-2">Title
                    <input type="checkbox" name="isProfessor" value="true">
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn  btn-primary" type="submit" name="addInstructor">add instructor</button>
            </div>
        </div>
    </form>
{% endblock %}
