<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers Übersicht</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous"></script>
</head>
<header>
    <ul class="nav mb-4">
        {% if access_right == 4 %}
            <li class="nav-item">
                <a class="nav-link" href="/addInstructor">Add Instructor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addRoom">Add Room</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addLecture">Add Lecture</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/showInstructors">show Instructors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registration">register</a>
            </li>
        {% endif %}
        {% if access_right == 2 %}
            <li class="nav-item">
                <a class="nav-link" href="/overview">overview</a>
            </li>
        {% endif %}
        {% if access_right is empty %}
            <li class="nav-item">
                <a class="nav-link" href="/">login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registration">register</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/logout">log out</a>
            </li>
        {% endif %}
    </ul>
</header>
<body>
<div class="container mx-auto">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
