{% extends 'base.html.twig' %}
{% block content %}
    <h1>Registration: </h1>
    <form method="post" class="form-horizontal">
        {% if message is empty %}
        {% else %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endif %}
        <div class="form-group">
            <label for="firstname" class="control-label col-sm-2">Firstname: </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Firstname" name="firstname" id="firstname">
            </div>
        </div>

        <div class="form-group">
            <label for="surname" class="control-label col-sm-2">Surname:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Surname" name="surname" id="surname">
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="control-label col-sm-2">Email:</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" placeholder="Email" name="email" id="surname">
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="control-label col-sm-2">Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" placeholder="password" name="password" id="password">
            </div>
        </div>

        {% if access_right == 4 %}
                <select name="access_right">
                    <option value="2">Student</option>
                    <option value="3">Instructor</option>
                    <option value="4">Administration</option>
                </select>
            </label>
        {% else %}
            <input type="hidden" name="access_right" value="2">
        {% endif %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn  btn-primary" type="submit" name="addUser">register</button>
            </div>
        </div>
    </form>
{% endblock %}
